<template>
  <div>
    <v-wait for="pickupDetail">
      <template slot="waiting">
        <div id="loadingSpinner">
          <atom-spinner :animation-duration="1000" :size="60" color="#FFFFFF"/>
        </div>
      </template>
      <div class="row service-info-box px-5 pt-5 pb-5" v-if="checkDetails">
        <div class="col-md-6 customer">
          <h1 >{{ pickupDetails.service_customer.name }}</h1>
          <!--<h2>2018 BMW 328i</h2>-->
        </div>
        <div class="col-md-6 status" v-if="checkDetails">
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex align-content-center justify-content-end">
                <img src="/images/ready-to-pickup.png" alt>
              </div>
            </div>
            <div class="col-md-6 d-flex align-item-center" style="align-items: center;">
              <h2 class>READY FOR PICKUP</h2>
            </div>
          </div>
        </div>
      </div>
    
    </v-wait>
  </div>
</template>
<script>
  import {AtomSpinner} from "epic-spinners";

  export default {
    data(){
      return {
        checkDetails: false
      }
    },
    props: ['pickup-details'],
    components: {
      AtomSpinner
    },
    mounted() {
      this.$wait.start("pickupDetail");
      let self = this;
      setTimeout(function () {
        self.$wait.end("pickupDetail");
        self.checkDetails = true;
      }, 5000)
    }
  }
</script>
<style scoped lang="scss">
  @import "../../../../sass/service-board.scss";
</style>
