<template>
  <div>
    <v-wait for="weatherDetail">
      <template slot="waiting">
        <div id="loadingSpinner">
          <atom-spinner :animation-duration="1000" :size="60" color="#FFFFFF"/>
        </div>
      </template>
      <div class="row">
        <div class="col-12 d-flex align-content-center info-box">
          <img
            :src="'/images/'+weatherDetails.weather_icons+'.png'"
            alt
            class="align-self-center mr-2"
          >

          <div class="temperature d-flex align-content-center">
            {{ weatherDetails.temp.toFixed(0) }}
            <small>O</small>
          </div>
          <div class="ml-5">
            <h1>{{ weatherDetails.city }}</h1>
            <h2>{{ weatherDetails.description }}</h2>
            <h2>{{ weatherDetails.today_date }}</h2>
          </div>
        </div>
      </div>
    </v-wait>
  </div>
</template>
<script>
import { AtomSpinner } from "epic-spinners";

export default {
  props: ["weather-details"],
  components: {
    AtomSpinner
  },
  mounted() {
    this.$wait.start("weatherDetail");
    let self = this;
    setTimeout(function() {
      self.$wait.end("weatherDetail");
    }, 5000);
  }
};
</script>
<style scoped lang="scss">
@import "../../../../sass/service-board.scss";
</style>
