
<template>
  <div class="container-fluid">
    <header class="service-board-header px-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a href="#">
            <img src="/images/policaro-logo.png" alt>
          </a>
        </div>
        <div class="col-4 text-center">
          <h2>SERVICE BOARD</h2>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <h3>{{ currentTime }}</h3>
        </div>
      </div>
    </header>
    <video
      ref="videoRef"
      src
      id="bgVideo"
      width="100%"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
    ></video>
    <div class="row info-box px-5 pt-5 text-white">
      <div class="col-xl-5 px-0">
        <Weather :weather-details="weatherDetails"/>
      </div>
      <div class="col-xl-6 offset-xl-1 px-0">
        <Pickup :pickup-details="pickupDetails"/>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-xl-12 col-lg-12 mt-5">
        <div class="row">
          <div class="col-12">
            <div class="service_board_table_container">
              <div class="row">
                <div class="col-12">
                  <ServiceBoardList/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row px-5">
      <div class="col-xl-12 col-lg-12 mt-5">
        <div class="service-board-footer">
          <div v-for="i in serviceboard.last_page" :class="classObject(i)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ServiceBoardList from "./ServiceBoardList";
import Pickup from "./_partials/_pickup";
import Weather from "./_partials/_weather";
import { mapGetters } from "vuex";
import {
  getIp,
  getWeather,
  readyToPickUp,
  getWeatherSecure
} from "../../_helpers/general";
import moment from "moment";

export default {
  name: "ServiceBoard",
  data() {
    return {
      temp: -20,
      currentPage: 1,
      ipData: {},
      position: [],
      weatherDetails: {},
      currentTime: moment().format("LT"),
      pickupDetails: {}
    };
  },
  computed: {
    ...mapGetters({
      serviceboard: "serviceboard/getServiceBoardList"
    })
  },
  mounted() {
    let self = this;
    this.$store.dispatch("serviceboard/getServiceBoardListData");
    readyToPickUp()
      .then(res => {
        console.log(res);
        self.pickupDetails = res.data;
      })
      .catch(error => {
        console.log(error);
      });
    /* if (location.protocol == "http:") {
      getIp()
        .then(res => {
          console.log(res);
          self.ipData = res;
        })
        .catch(error => {
          console.log(error);
        });
      this.$nextTick(function() {
        setTimeout(function() {
          getWeather(self.ipData.city, self.ipData.countryCode)
            .then(res => {
              self.weatherDetails = res.data;
              self.$refs.videoRef.src =
                "/video/" + res.data.weather_icons + ".mp4";
              self.$refs.videoRef.play();
            })
            .catch(error => {
              console.log(error);
            });
          // setInterval(function () {
          //   // this.items = this.listData;
          //   self.getCustomerListPaginate();
          // }.bind(this), 10000);
        }, 5000);
      });
    } else */ {
      console.log("navigator.geolocation");

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          console.log("position.coords.latitude", position.coords.latitude);
          //this.position.push(position.coords.latitude);
          //this.position.push(position.coords.longitude);
          getWeatherSecure(position.coords.latitude, position.coords.longitude)
            .then(res => {
              self.weatherDetails = res.data;
              self.$refs.videoRef.src =
                "/video/" + res.data.weather_icons + ".mp4";
              self.$refs.videoRef.play();
            })
            .catch(error => {
              console.log(error);
            });
        });

        setInterval(function() {
          navigator.geolocation.getCurrentPosition(position => {
            console.log("position.coords.latitude", position.coords.latitude);
            //this.position.push(position.coords.latitude);
            //this.position.push(position.coords.longitude);
            getWeatherSecure(
              position.coords.latitude,
              position.coords.longitude
            )
              .then(res => {
                self.weatherDetails = res.data;
                self.$refs.videoRef.src =
                  "/video/" + res.data.weather_icons + ".mp4";
                self.$refs.videoRef.play();
              })
              .catch(error => {
                console.log(error);
              });
          });
        }, 300000);
      }
    }
    setInterval(() => {
      this.currentTime = moment().format("LT");
    }, 1000);
  },
  methods: {
    classObject(currentPage) {
      console.log(currentPage);
      if (this.serviceboard.current_page == currentPage) {
        return "pag-style active-paginate";
      } else {
        return "pag-style";
      }
    }
  },
  components: { ServiceBoardList, Pickup, Weather }
};
</script>

<style scoped lang="scss">
@import "../../../sass/service-board.scss";
</style>
<style scoped>
.service_board_table_container {
  min-height: 600px;
  margin: 0px;
  padding: 0px;
}
.pag-style {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f6f6f6;
  opacity: 0.4;
  display: inline-block;
  margin-right: 21px;
}
.active-paginate {
  opacity: 1 !important;
}
.service-board-footer {
  text-align: center;
}
tr.table-highlight td {
  background-color: #fff !important;
}
</style>
