<style scoped>

</style>
<template>
  <div>
    <transition name="fade" mode="out-in">
      <v-wait for="serviceTableLoading" message>
        <template slot="waiting">
          <div id="loadingSpinner">
            <atom-spinner :animation-duration="1000" :size="180" color="#17469e"/>Loading Service List
          </div>
        </template>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <b-table
                head-variant="dark"
                :fields="fields"
                :items="serviceboard.data"
                ref="table"
              >
                <template slot="tagColumn" slot-scope="data">
                  <div class="customer-name">{{ data.item.tag2 }}</div>
                </template>
                <template slot="customerColumn" slot-scope="data">
                  <div class="customer-name">{{ data.item.name2 | setString }}</div>
                  <!--<div class="customer-lp">{{ data.item.license_plate2}}</div>-->
                </template>
                <!--<template slot="vehicleColumn" slot-scope="data">-->
                  <!--<div class="vehicle-model">2018 BMW X3</div>-->
                  <!--&lt;!&ndash;<div class="vin-number">{{ data.item.vin_number2}}</div>&ndash;&gt;-->
                <!--</template>-->
                <template slot="licensePlateColumn" slot-scope="data">
                  <div class="vehicle-model">{{ data.item.license_plate | encryptString }}</div>
                </template>
                <template slot="serviceColumn" slot-scope="data">
                  <!--<div class="service-type">{{ data.item.type2 }}</div>-->
                  
                  <div class="service-status"
                  :style="{color: getStatusColor(data.item.service_type_status_id)}"
                  >{{ data.item.status2}}</div>
                </template>
                <template slot="etaColumn" slot-scope="data">
                  <div  v-bind:class="{ 'pickupReadyIcon': pickupReadyCheck(data.item.service_type_status_id) }">
                    <div v-if="data.item.chk">
                      <countdown :time="data.item.service_time_w_u_c">
                        <template slot-scope="props">
                          {{ props.hours}}h {{ props.minutes }}m {{ props.seconds }}s
                        </template>
                      </countdown>
                    </div>
                    <div v-else>
                      <span>0h 0m 0s</span>
                    </div>
                  </div>
                </template>
              </b-table>
            </div>
          </div>
        </div>
      </v-wait>
    </transition>
  </div>
</template>

<script>
  import { mapState,mapGetters } from "vuex";
  import { AtomSpinner } from "epic-spinners";
  export default {
    data() {
      return {
        pagination: {
          'current_page': 1,
          'last_page':2
        },
        currentPage: 1,
        fields: [
          // A column that needs custom formatting
          { key: "tagColumn", label: "Tag No." },
          { key: "customerColumn", label: "Customer" },
          // { key: "vehicleColumn", label: "Vehicle" },
          { key: "licensePlateColumn", label: "Plate" },
          { key: "serviceColumn", label: "Service Status" },
          { key: "etaColumn", label: "Service ETA" }
          // A regular column
        ],
        filter: null
      };
    },
    mounted() {
      this.$store.dispatch("servicetracker/getServiceTrackers");
      setInterval(function () {
        this.getCustomerListPaginate();
      }.bind(this), 10000);
      
    },
    filters: {
      setString: function (value) {
        if (!value) return ''
        var acronym = '';
        var splitValue = value.split(' ');
        if (splitValue.length > 1){
          var matches = splitValue[1].match(/\b(\w)/g);
          acronym =  splitValue[0]+'. '+matches;
        } else{
          var matches = splitValue[0].match(/\b(\w)/g);
          acronym =  splitValue[0]+'. '+matches;
        }
        return acronym;
      },
      encryptString: function (value) {
        if (!value) return ''
        var replaced = value.replace(/.(?=.{3,}$)/g, '*')
        return replaced;
      }
    },
    methods: {
      classObject(currentPage){
        if (this.serviceboard.current_page == currentPage){
          return 'pag-style active-paginate'
        } else{
          return 'pag-style'
        }
      },
      getStatusColor(serviceStatusID) {
      if (serviceStatusID == 6) return "#4fc257";
      else return "#999999";
      },

      pickupReadyCheck(serviceStatusID){
        if(serviceStatusID == 6)
          return true;
        return false;
      },
      getCustomerListPaginate(){
        this.serviceboard.meta.current_page += 1;
        if (( this.serviceboard.meta.last_page -  this.serviceboard.meta.current_page) < 0){
          this.serviceboard.meta.current_page = 1;
        }

        this.$store.dispatch("serviceboard/getServiceBoardListData", this.serviceboard.meta.current_page);
      }
    },
    computed: {
      ...mapGetters({
        servicetracker: 'serviceboard/getServiceBoardListData',
        serviceboard: 'serviceboard/getServiceBoardList'
      }),
    },
    components: {
      mapState,
      AtomSpinner
    }
  };
</script>
