<template>
  <div :name="name">
    <transition name="fade" mode="out-in">
      <div id="loadingSpinner" v-if="isLoading">
        <div id="spinner">
          <atom-spinner :animation-duration="1000" :size="64" :color="spinnerColor"/>
        </div>
        <div class="spinnerMessage" v-bind:class="color">{{title}}</div>
      </div>
    </transition>
  </div>
</template>
<style scoped>
@import "../../../sass/spinner.scss";
</style>
<script>
import { AtomSpinner } from "epic-spinners";
export default {
  name: "loadingSpinner",
  data() {
    return {
      dark: "#17469e",
      light: "#81bcee",
      spinnerColor: "#17469e"
    };
  },
  props: {
    name:{
      type:String,
      default: ""
    },
    title: {
      type: String,
      default: "loading.."
    },
    color: {
      type: String,
      default: "dark"
    }
  },
  components: {
    AtomSpinner
  },
  created() {
    if (this.color == "light") {
      this.spinnerColor = this.light;
    } else {
      this.spinnerColor = this.dark;
    }
  },
  computed: {
    isLoading() {
      if(this.name == this.$store.getters.getLoaderName){
        this.$store.commit("SET_LOADING_FLAG",{flag:false,name:""});
        console.log("inside if");
        this.name="";
        return this.$store.getters.isLoading;
      }
      else {
        console.log("inside elese");
        this.name = this.$store.getters.getLoaderName;
        //this.$store.commit("SET_LOADING_FLAG",{flag:true,name:this.name});
         return this.$store.getters.isLoading;
      } 
     
    }
  }
};
</script>

