<template>
  <div>
   <b-modal v-model="modalStatus"
             title="Modal Variants"
           >
       <b-container fluid>
         <b-row class="mb-1 text-center">
           <b-col cols="3"> </b-col>
           <b-col>Background</b-col>
           <b-col>Text</b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col cols="3">Header</b-col>
           <b-col><b-form-select /></b-col>
           <b-col><b-form-select/></b-col>
         </b-row>
         <b-row class="mb-1">
           <b-col cols="3">Body</b-col>
           <b-col><b-form-select /></b-col>
           <b-col><b-form-select /></b-col>
         </b-row>
         <b-row>
           <b-col cols="3">Footer</b-col>
           <b-col><b-form-select /></b-col>
           <b-col><b-form-select /></b-col>
         </b-row>
       </b-container>
       <div slot="modal-footer" class="w-100">
         <p class="float-left">Modal Footer Content</p>
         <b-btn size="sm" class="float-right" variant="primary" @click="closeModal">
           Close
         </b-btn>
       </div>
    </b-modal>
  </div>
</template>

<script>
export default {
    data(){
        
       return {

       }
    },
    props:{
        modalStatus:Boolean
    },
  methods: {
    
  },
  computed:{
      closeModal(){
          this.modalStatus = false;
      }
      
  }
}
</script>