<template>
  <div class="row">
    <div class="col-md-5 pl-md-5" style="position: relative;">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="search" @keyup.enter="searchList()" v-model="searchParameter.searchText" class="searchText">
      <div v-if="searchTextTag" class="searchedTag">{{searchTextTag}}
        <span class="closeBtn" @click="clearSearch(1)"></span>
      </div>
    </div>
    <div class="col-md-4 pl-md-5 datepicker">
      <date-range-picker
        :startDate="startDate"
        :endDate="endDate"
        @update="searchDateRange"
        :locale-data="locale"
      >
        <!--Optional scope for the input displaying the dates -->
      </date-range-picker>
       <div v-if="searchParameter.searchDate.length>0" class="searchedTag">{{searchParameter.searchDate[0]}} - {{searchParameter.searchDate[1]}}
        <span class="closeBtn" @click="clearSearch(2)"></span>
      </div>
    </div>
    <div class="col-md-3 pl-md-5 pr-md-5">
      <div class="form-group">
        <select class="form-control form-control-lg" v-model="searchParameter.searchType" @change="searchList()">
          <option value="">Service Type</option>

          <option
            v-for="(serviceTypeData, index) in serviceTypes"
            :key="index"
            v-bind:value="serviceTypeData.id"
          >{{serviceTypeData.type}}</option>
        </select>
        <div v-if="searchTypeTag" class="searchedTag">{{searchTypeTag}}
        <span class="closeBtn" @click="clearSearch(3)"></span>
      </div>
      </div>
    </div>
  </div>
</template>
<script>
import DateRangePicker from "vue2-daterange-picker";
 import moment from 'moment'

export default {
  components:{
    DateRangePicker,
  },
  mounted() {
    this.searchParameter.searchDate=[];
    this.startDate = moment().subtract(1, 'days').format("YYYY-MM-DD");
    this.endDate = moment().add(1, 'days').format("YYYY-MM-DD");
    this.searchParameter.searchDate.push(moment().subtract(1, 'days').format("YYYY-MM-DD"));
    this.searchParameter.searchDate.push(moment().add(1, 'days').format("YYYY-MM-DD"));
    this.searchList();
    window.Event.$on('search-event',type => {
      this.searchList();
    })
  },
  data() {
    return {
      filter: "",
      searchTextTag: "",
      searchTypeTag:"",
      allServiceTypes:[],
      startDate: moment().subtract(1, 'days').format("YYYY-MM-DD"),
      endDate: moment().format("YYYY-MM-DD"),
      locale: {
        direction: "ltr", //direction of text
        format: "DD-MM-YYYY", //format of the dates displayed
        separator: " - ", //separator between the two ranges
        applyLabel: "Apply",
        cancelLabel: "Cancel",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        firstDay: 1 //ISO first day of week - see moment documenations for details,
      },
      serviceId: -1,
      searchParameter:{
        searchText:'',
        searchType:'',
        searchDate:[],
        waiterName: 'serviceTableRefreshing'
      }
    };
  },
  methods: {
    searchDateRange(date){
      this.searchParameter.searchDate=[];
      this.startDate = moment(date.startDate).format('YYYY-MM-DD');
      this.endDate = moment(date.endDate).format('YYYY-MM-DD');
      this.searchParameter.searchDate.push(moment(date.startDate).format('YYYY-MM-DD'));
      this.searchParameter.searchDate.push(moment(date.endDate).format('YYYY-MM-DD'));
      this.searchList();
    },
    searchList(){
      if(this.searchParameter.searchText)
      this.searchTextTag=this.searchParameter.searchText;
      
      if(this.searchParameter.searchType)
      this.searchTypeTag= this.allServiceTypes.find(obj=>{
       
        return obj.id==this.searchParameter.searchType;
      }).type;
      this.$store.dispatch("servicetracker/getServiceTrackersSearchResult", this.searchParameter);
    },
    clearSearch(searchBy){
      if(searchBy==1) //1 for searchText, 2 for searchDate and 3 for searchType
      {
        this.searchTextTag="";
        this.searchParameter.searchText="";
      }
      else if(searchBy==2)
      {
        this.searchParameter.searchDate="";
      }
       else if(searchBy==3)
      {
        this.searchTypeTag="";
        this.searchParameter.searchType="";
      }
      this.searchList();
    }
  },
  computed: {
    serviceTypes() {
      return this.allServiceTypes = this.$store.getters["servicetype/getServiceTypes"];
    }
  },
  watch: {
    searchParameter:{
      handler(val){
        console.log(val);
        this.$store.commit("SET_SEARCH_PARAMETERS",val);
      },
      deep: true
    }
  }
};
</script>
