<template>
  <div class="table-responsive">
    <v-wait for="customerTableLoading" message>
      <template slot="waiting">
        <div id="loadingSpinner">
          <atom-spinner :animation-duration="1000" :size="180" color="#17469e"/>Loading Customer List
        </div>
      </template>
      <div class="row">
        <div class="col-md-5 pl-md-5" style="position: relative;padding-bottom: 40px;">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="search" @keyup.enter="searchList()" v-model="searchParameter.searchText" class="searchText">
          <div v-if="searchTextTag" class="searchedTag">{{searchTextTag}}
            <span class="closeBtn" @click="clearSearch(1)"></span>
          </div>
        </div>
      </div>
      <b-table striped hover
               :filter="filter"
               :fields="fields"
               :items="serviceCustomersListPagination.data"
               id="myTable"
               :per-page="perPage"
               @filtered="onFiltered"
      >
        <template slot="nameColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.name }}</div>
        </template>

        <template slot="emailColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.email }}</div>
        </template>

        <template slot="phoneNoColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.phone_number }}</div>
        </template>
        <template slot="licensePlateColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.license_plate }}</div>
        </template>
        <template slot="vinNumberColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.vin_number }}</div>
        </template>
        <template slot="actionColumn" slot-scope="data">
          <button class="btn btn-primary" @click="editCustomer(data.item)">Edit</button>
          
          <b-btn class="btn btn-danger" @click="confirmDelete=true">Delete</b-btn>
          <b-modal  ref="myModalRef"  v-model="confirmDelete" title="Delete Confirmation">
            <b-container>
              <p>Are you sure to delete this Customer?</p>
            </b-container>

            <div slot="modal-footer">
              <button class="btn btn-primary" @click="hideModal()" type="button">Cancel</button>
              
              <button class="btn btn-danger" @click="deleteCustomer(data.item)">Delete</button>
            </div>
          </b-modal>
        </template>
      </b-table>
      <div v-if="serviceCustomersListPagination">
        <b-pagination
                align="center"
                v-model="current"
                :total-rows="serviceCustomersListPagination.total"
                :per-page="serviceCustomersListPagination.per_page"
                @input="goToPage"
                aria-controls="myTable"
        />
      </div>
      <!--<b-row>-->
        <!--<b-col md="12" class="my-1">-->
          <!--<div class="dotstyle dotstyle-scaleup">-->
            <!--<ul class="d-flex justify-content-center" v-if="serviceCustomersListPagination.meta">-->
              <!--<li-->
                      <!--:class="i==serviceCustomersListPagination.meta.current_page ? 'current':''"-->
                      <!--v-for="(i,index) in serviceCustomersListPagination.meta.last_page"-->
                      <!--:key="index"-->
                      <!--@click="goToPage(i)"-->
              <!--&gt;-->
                <!--<a href="javascript:void(0)">{{ i }}</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</b-col>-->
      <!--</b-row>-->
    </v-wait>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { AtomSpinner } from "epic-spinners";
export default {
  components:{
    AtomSpinner
  },
  data() {
    return {
      pageOptions: [50, 100, 150],
      current:1,
      perPage:25,
      confirmDelete: false,
      filter: null,
      searchTextTag:"",
      searchParameter:{
        searchText:''
      },
      fields: [
        // A column that needs custom formatting
        { key: "nameColumn", label: "Name" },
        { key: "emailColumn", label: "Email" },
        { key: "phoneNoColumn", label: "Phone Number" },
        { key: "licensePlateColumn", label: "License Plate" },
        { key: "vinNumberColumn", label: "Vin Number" },
        { key: "actionColumn", label: "Action" }
        // A regular column
      ]
    };
  },
  mounted() {
    // this.$store.dispatch("customers/getCustomers",this.current);
    this.searchList();
  },
  methods: {
    clearSearch(searchBy){
      
        this.searchTextTag="";
        this.searchParameter.searchText="";
     
      this.searchList();
    },
    searchList(){
      if(this.searchParameter.searchText)
        this.searchTextTag=this.searchParameter.searchText;
      this.$store.dispatch("customers/getCustomersSearchResult", this.searchParameter);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      // this.totalRows = filteredItems.length
      this.current = 1
    },
    hideModal() {
      this.confirmDelete=false;
    },
    goToPage() {
      if(this.searchParameter.searchText)
        this.searchTextTag=this.searchParameter.searchText;
      this.searchParameter.page=this.current;
      this.$store.dispatch("customers/getCustomersSearchResult", this.searchParameter);
      // this.$store.dispatch(
      //     "customers/getCustomers",
      //     this.searchParameter
      // );
    },
    editCustomer(customer) {
      window.Event.$emit("editServiceCustomer", customer);
    },
    deleteCustomer(customer) {
      this.$store.dispatch("customers/deleteCustomer", customer);
      this.confirmDelete=false;
    }
  },
  computed: mapState("customers", ["serviceCustomersListPagination"])
};
</script>
