<template>
    <div class="container-fluid no-gutters" style="height:100%">
        <Nav></Nav>
        <div class="row px-5">
            <div class="col-xl-12 col-lg-12 mt-5">
                <div class="row">
                    <div class="col page-heading">Service Customer List</div>
                    <div class="col-3">
                        <!--<button-->
                                <!--class="btn btn-lg btn-block btn-primary gray_greadient_button"-->
                        <!--&gt;GENERATE PUBLIC URL</button>-->
                    </div>
                    <div class="col-3 ml-2">
                        <button
                                class="btn btn-lg btn-block btn-primary blue_greadient_button"
                                @click="showModal()"
                        >CREATE CUSTOMER</button>
                    </div>
                    <div class="col-12">
                        <div class="white_box_container">
                            <div class="row">
                                <div class="col-4  pl-5">
                                    <!-- <input type="text" placeholder="search" class> -->
                                </div>
                                <div class="col-3 offset-1">
                                    <!--<input type="text" placeholder="DD/MM/YYYY - DD/MM/YYYY" class>-->
                                </div>
                                <div class="col-3 offset-1 pr-5">
                                    <!--<div class="form-group">-->
                                        <!--<select  class="form-control form-control-lg">-->
                                            <!--<option>Service Type</option>-->
                                            <!--<option>..</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-12 mt-5">
                                    <CustomerList/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal ref="myModalRef" size="xl" hide-footer title="Create New Customer">
            <div class="d-block">
                <form class="signinForm pl-1 align-self-center" @submit.prevent="createCustomer()">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="customerName">Customer Name</label>
                            <input type="text" class="form-control" id="customerName" placeholder="Customer Name" v-model="formData.name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" v-model="formData.email" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="vin_number">Vin#</label>
                            <input type="text" class="form-control" id="vin_number" placeholder="Vin Number" v-model="formData.vin_number" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="phoneNo">Phone No.</label>
                            <input type="text" class="form-control" id="phoneNo" placeholder="Phone No" v-model="formData.phone_number" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="licensePlate">License Plate</label>
                            <input type="text" class="form-control" id="licensePlate" placeholder="License Plate" v-model="formData.license_plate" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3 offset-md-3">
                            <button class="btn btn-lg btn-block btn-primary light_gray_button" @click="hideModal()">CANCEL</button>
                        </div>
                        <div class="form-group col-md-3">
                            <button class="btn btn-lg btn-block btn-primary blue_greadient_button">{{ btnText }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import Nav from "../../components/Nav.vue";
    import CustomerList from "./CustomerList";
    // import { createServiceCustomer } from '../../_helpers/general';
    export default {
        name: "ServiceCustomer",
        data () {
            return {
                formData: {
                    name:'',
                    email:'',
                    phone_number:'',
                    vin_number:'',
                    license_plate:'',
                },
                btnText:'CREATE CUSTOMER',
                updateStatus:0,
            }
        },
        created(){
            window.Event.$on('editServiceCustomer',customer=>{
                console.log(customer);
                this.formData = {};
                this.formData = customer;
                this.updateStatus = 1;
                this.btnText = 'UPDATE CUSTOMER';
                this.$refs.myModalRef.show();
            })
            
        },
        methods:{
            clear(){
                this.formData.name ='';
                this.formData.email ='';
                this.formData.phone_number ='';
                this.formData.license_plate ='';
                this.formData.vin_number ='';

            },
            showModal() {
                this.clear();
                this.btnText = 'CREATE CUSTOMER';
                 this.updateStatus = 0;
                this.$refs.myModalRef.show();
            },
            hideModal() {
                this.$refs.myModalRef.hide();
            },
            createCustomer() {
                this.formData.updateStatus = this.updateStatus;
                if (this.updateStatus == 0) {
                    this.$store.dispatch('customers/createCustomer',this.$data.formData);
                }else{
                    this.$store.dispatch('customers/updateCustomer',this.$data.formData);
                }
                this.hideModal();
                setTimeout(function () {
                    this.$store.dispatch("customers/getCustomers",1);
                },500);
                
            }
        },
        components: { Nav, CustomerList }
    }
</script>

<style scoped>

</style>
