#searchCutomer{
    .autocomplete__inputs{
        padding: 0px;
    }
    .autocomplete__icon {
        position: absolute;
        left: 22px;
        top: 23px;
    }
    .autocomplete__box {
        padding: 0px;
        border:0px !important;
    }
    .autoCompleteTextBox{
        padding-left:40px !important; 
        margin: 0px !important;
    }
    .autocomplete--clear{
        position: absolute;
        right: 22px !important;
        top: 18px;
        left: auto;
    }
}