button{
    div{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
.blue_greadient_button {
    @include buttonRippleEffect;
    border: none !important;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    line-height: 40px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.35);
    border-radius: 30px !important;
    background-color: #81bcee;
    background-image: linear-gradient(to left, #81bcee 0%, #17469e 100%);
    :hover{
        background-image:linear-gradient(to left, #5ba9ee 0%, #003596 100%);
      }
    &:disabled{
        background-image:linear-gradient(to left, #2d5172 0%, #25334d 100%);
    }
}
.gray_greadient_button {
    @include buttonRippleEffect;
    border: none !important;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    line-height: 40px;
    box-shadow: 0 1px 12px #000000, inset 0 1px 2px rgba(255, 255, 255, 0.35);
    border-radius: 30px !important;
    background-color: #666666;
    background-image: linear-gradient(to left, #666666 0%, #333333 100%);
    &:hover{
      background-image:linear-gradient(to left, #535353 0%, #1a1a1a 100%);
    }
}
.light_gray_button {
    @include buttonRippleEffect;
    border: none !important;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    line-height: 40px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.35);
    border-radius: 30px !important;
    background-color: #999999 !important;
    &:hover{
        background-color: #878787 !important;
    }
}
.dark_gray_button {
    @include buttonRippleEffect;
    border: none !important;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    line-height: 40px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.35);
    border-radius: 30px !important;
    background-color: #333 !important;
    &:hover{
        background-color: rgb(43, 43, 43) !important;
    }
}
.red_button {
    @include buttonRippleEffect;
    border: none !important;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    line-height: 40px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.35);
    border-radius: 30px !important;
    background-color: #e25252 !important;
    &:hover{
        background-color: #c72626 !important;
    }
}