.white_box_container{
    .thead-light{
        background-color: #cccccc;
        th{
            background-color: #cccccc !important;
            border:0px;
            height: 60px;
        }
    }
    .b-table{
        td{
            border-top: 0px;
        }
    }
}