#rightBox {
    width: 50%;
    height: 100vh;
    background-color: #f3f3f3;
    position: relative;

    .signinForm {
        margin: 0px auto;
        width: 360px;

        input {
            @include textbox();
            margin: 20px 0px;
            
        }
    }

    .signInHeading {
        width: 100%;
        line-height: 100px;
        height: 100px;
        color: #000000;
        font-size: 50px;
        font-weight: 500;
    }


    .forgotPassword {
        line-height: 80px;
        height: 80px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        padding-left: 3px;
    }
}

.signinForm {
    .checkbox {
        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]+label {
            display: inline-block;
            cursor: pointer;
            padding: 5px 0px 5px 3px;
            color: #999999;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
        }

        input[type="checkbox"]+label:before {
            content: "\2713";
            border: 1px solid #cccccc;
            display: inline-block;
            padding: 0px 3px;
            margin: 0px 10px 0px 0px;
            color: transparent;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 5px;
            background-color: #f3f3f3;
        }

        input[type="checkbox"]:checked+label:before {
            color: #1b4daa;
        }
    }
}

#leftBox {
    background-image: url('../images/loginBg.jpg');
    width: 50%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    .logo {
        margin: 0px auto;
    }
    position: relative;
}
.page-heading{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
}
.content{
    margin: 30px 0px;
    display: block; 
}