// ===========================================================================
// MIXINS
// ===========================================================================

// ------------------------
// SELECTION
// ------------------------

//mixing for form elements
@mixin textbox() {
    width: 100%;
    height: 60px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 20px !important;
    border: 1px solid #cccccc;
    background-color: #f3f3f3;

    &:disabled {
        background-color: #dcdbdb !important;
    }

    &.invalid {
        border: #d70202 1px solid;
    }
}

@mixin select {

    border-radius: 20px !important;
    border: 1px solid #cccccc;
    background-color: #f3f3f3;
    height: 60px;
    font-size: 18px;
    &:disabled {
        background-color: #dcdbdb !important;
    }

    &.invalid {
        border: #d70202 1px solid;
    }
}


//mixing for button animation

@mixin buttonRippleEffect {
    position: relative;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #555 20%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;
    }

    &:active:after {
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }
}

// The 'selection' mixin allows styling text selection.

@mixin selection {
    ::-webkit-selection {
        @content;
    }

    ::-moz-selection {
        @content;
    }

    ::selection {
        @content;
    }
}

// ------------------------
// PLACEHOLDER
// ------------------------

// The 'input-placeholder' mixin allows styling input placeholder.

@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

// ------------------------
// CLEAR FLOAT
// ------------------------

// The 'clear-float' mixin is useful for clearing floated children without
// using the 'overflow: hidden' rule on the element.

@mixin clear-float() {

    &:before,
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

// ------------------------
// ICON
// ------------------------

// The 'icon' mixin adds the default styles for centering an
// icon inside an element. You would probably want to use it
// inside a pseudo element.

@mixin icon($icon-size: 14px, $icon-width: 1em, $icon-height: 1em, $font-name: aceIcons) {
    display: block;
    width: $icon-width;
    height: $icon-height;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5 * $icon-height;
    margin-left: -0.5 * $icon-width;
    speak: none;
    font: normal #{$icon-size}/#{1} $font-name;
    text-align: center;
}

// ---------------------------------
// ARROW
// ---------------------------------

// The 'arrow' mixin will add the basic styles required for creating
// a css arrow tip (triangle) using a pseudo element. You will need to
// define the direction of the arrow using subsequent CSS.

@mixin arrow($size) {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: $size solid transparent;
}

// ------------------------
// BLOCK
// ------------------------

// The 'block' mixin creates vertical margins for
// block elements and handles eliminating margins for
// first/last elements.

@mixin block($margin-before: null, $margin-after: $margin-before) {
    @if $margin-before !=null {
        display: block;
        margin: $margin-before 0 $margin-after;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// ------------------------
// GRADIENT
// ------------------------

// The 'gradient' mixin creates a gradient background.
// It accepts two colors and an angle, $color-a, $color-b, $angle.

@mixin gradient($params...) {
    $angle: 45deg;
    $color-a: null;
    $color-b: null;

    @if type-of(nth($params, 1))=='number' {
        $gradient: nth($gradients, nth($params, 1));
        $color-a: nth($gradient, 1);
        $color-b: nth($gradient, 2);
    }

    @else {
        $color-a: nth($params, 1);
        $color-b: nth($params, 2);
    }

    @if length($params)>1 {
        $last-param: nth($params, length($params));

        @if type-of($last-param)=='number' {
            $angle: $last-param;
        }
    }

    background: linear-gradient($angle, $color-a, $color-b);
}
