.navbar {
    img.profile {
        @extend %image-cropper;
        display: inline;
        margin: 0 auto;
        height: 48px;
        width: 48px;
    }

    .navbar-nav {
        position: relative;

        li:hover .dropdown-menu {
            display: block;
        }

        &:last-child .dropdown-menu {
            left: -100px;
        }

        .dropdown-menu {
            margin: 0 0 0 !important;
        }
    }

    .nav-item {
        position: relative;
        padding-left: 20px;
        padding-left: 20px;
    }

    .router-link-active {
        color: #222;
    }
}
