
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1.12rem;
$line-height-base: 1.6;

$brand-primary: darken(#1b4daa, 9.5%) !default; // #1b4daa

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #222222;
$logoblue: #003596;



$input-height-large: 50px;



