header {
    background: #FFF;
    height: 84px;
    line-height: 84px;

    h2 {
        color: #000000;
        font-size: 30px;
        font-weight: bold;
        line-height: 48px;
        text-transform: uppercase;
    }

    h3 {
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
    }

}
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -9;
  }
  
.info-box {
    .temperature {
        font-size: 193px;
        font-weight: bold;
        line-height: 100%;

        small {
            margin-top: -1.28em;
            font-size: 0.25em;
        }
    }

    h1 {
        line-height: 100%;
        font-size: 60px;

    }

    h2 {
        line-height: 100%;
        font-size: 30px;

    }

    .service-info-box {
        width: 100%;
        position: relative;
        &::before {
            content: "";
            border-radius: 20px;
            background-color: #52adc7;
            background-image: linear-gradient(25deg, #177197 0%, #52adc7 100%);
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }

}
