#loadingSpinner {
    width: 100%;
     align-items: center;
     margin-top: 5px;
     margin-bottom: 5px;
     display: flex;
     justify-content: center;
     flex-direction: column
 }
 #loadingSpinner .spinner{
 
 }
 #loadingSpinner .spinnerMessage{
     &.dark{
         color:#17469e;
     }
     &.light{
         color: #81bcee;
     }
 }