
<template>
  <div class="container-fluid" style="height:100%">
    <div class="row">
      <div id="leftBox" class="col-6 d-flex align-content-center">
        <img src="/images/loginLogo.png" alt="logo" class="logo align-self-center">
      </div>
      <div id="rightBox" class="col-6 d-flex align-content-center">
        <form class="signinForm p2 align-self-center" @submit.prevent="authenticate()">
          <h1 class="signInHeading text-center">Sign In</h1>

          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email"
            v-model="formData.email"
            autofocus
            v-on:blur="$v.formData.email.$touch()"
            :class="{invalid: $v.formData.email.$error }"
          >

          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            v-model="formData.password"
            v-on:blur="$v.formData.password.$touch()"
            :class="{invalid: $v.formData.password.$error}"
          >
          <div class="checkbox">
            <input type="checkbox" name="rememberMe" id="rememberMe">
            <label for="rememberMe">Remember Me</label>
          </div>
          <button
            class="btn btn-lg btn-primary btn-block blue_greadient_button"
            type="submit"
            :disabled="$v.$invalid"
          >SIGN IN</button>
          <div id="loadingSpinner">
            <v-wait for="loggingin" message="Logging in..">
              <template slot="waiting">
                <atom-spinner :animation-duration="1000" :size="60" color="#17469e"/>
              </template>
            </v-wait>
          </div>
          <!--<progress-bar v-if="$isLoading('creating user')">Creating User...</progress-bar>-->
          <transition name="fade" mode="out-in">
            <div key="1" class="alert alert-danger mt-4" v-if="authError">{{authError}}</div>
          </transition>
          <a href="#" class="forgotPassword">Forgot Password?</a>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from "../../_services/login.service";
import { AtomSpinner } from "epic-spinners";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  //props, component, data, validations, beforeCreate, created, beforeMount, mount, beforeUpdate, update, methods, computed,watch, beforeDestroy, destroyed
  components: {
    AtomSpinner
  },

  data() {
    return {
      formData: {
        email: "",
        password: ""
      }
    };
  },
  validations: {
    formData: {
      email: {
        email,
        required
      },
      password: {
        required,
        minLength: minLength(4)
      }
    }
  },

  mounted() {},
  methods: {
    authenticate() {
      let self = this;
      this.$wait.start("loggingin");
      login(this.$data.formData)
        .then(res => {
          this.$store.commit("auth/LOGIN_SUCCESS", res);
          this.$router.push({ path: "/dashboard" });
        })
        .catch(error => {
          this.$store.commit("auth/LOGIN_FAILED", { error });
          this.$store.dispatch("alert/error", error);
        })
        .finally(() => {
          self.$wait.end("loggingin");
        });
    },
    enter(el, done) {
      $(el)
        .hide()
        .fadeIn(1000, done);
    },
    leave(el, done) {
      $(el)
        .show()
        .fadeOut(1000, done);
    }
  },
  computed: {
    authError() {
      return this.$store.getters["auth/authError"];
    }
  },

  watch: {
    $route(to, from) {
      const toDepth = to.path.split("/").length;
      const fromDepth = from.path.split("/").length;
      this.transitionName = toDepth < fromDepth ? "slide-right" : "slide-left";
    }
  }
};
</script>
