<template>
  <div class="container-fluid">
    <!--<Nav></Nav>-->
    <div class="row px-5">
      <div class="col-xl-7 col-lg-12 mt-5">
        <div class="row">
          <div class="col-6 page-heading">Service List</div>
          <button class="col-3 btn btn-lg btn-primary gray_greadient_button">GENERATE PUBLIC URL</button>
          <button
            class="col-3 btn btn-lg btn-primary blue_greadient_button offset-1"
          >CREATE NEW SERVICE</button>
          <div class="col-12 white_box_container">
            <div class="row">
              <input type="text" placeholder="search" class="col-3 offset-1">
              <input type="text" placeholder="DD/MM/YYYY - DD/MM/YYYY" class="col-3 offset-1">
              <select class="col-2 offset-1">
                <option>Service Type</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-12 mt-5">
        <div class="row  ml-5">
          <div class="col-12 gray_box_container">
            <div class="box_title">Update Service</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../components/Nav.vue";
export default {
  name: "main-app",
  data() {
    return {};
  },
  components: { Nav }
};
</script>
