<template>
  <div>
    <v-wait for="customerTableLoading" message>
      <template slot="waiting">
        <div id="loadingSpinner">
          <atom-spinner :animation-duration="1000" :size="180" color="#17469e"/>Loading Customer List
        </div>
      </template>
      <div  class="table-responsive">
      <b-table striped hover :filter="filter" :fields="fields" :items="serviceArchieveList.data">
        <template slot="nameColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.name }}</div>
        </template>
        
        <template slot="emailColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.email }}</div>
        </template>
        
        <template slot="phoneNoColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.phone_number }}</div>
        </template>
        <template slot="licensePlateColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.license_plate }}</div>
        </template>
        <template slot="vinNumberColumn" slot-scope="data">
          <div class="customer-name">{{ data.item.vin_number }}</div>
        </template>
        <!--<template slot="actionColumn" slot-scope="data">-->
          <!--<button class="btn btn-primary" @click="editCustomer(data.item)">Edit</button>-->
          <!---->
          <!--<b-btn class="btn btn-danger" @click="confirmDelete=true">Delete</b-btn>-->
          <!--<b-modal  ref="myModalRef"  v-model="confirmDelete" title="Delete Confirmation">-->
            <!--<b-container>-->
              <!--<p>Are you sure to delete this Customer?</p>-->
            <!--</b-container>-->
            <!---->
            <!--<div slot="modal-footer">-->
              <!--<button class="btn btn-primary" @click="hideModal()" type="button">Cancel</button>-->
              <!---->
              <!--<button class="btn btn-danger" @click="deleteCustomer(data.item)">Delete</button>-->
            <!--</div>-->
          <!--</b-modal>-->
        <!--</template>-->
      </b-table>
      </div>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination
                  :total-rows="serviceArchieveList.meta.total"
                  :per-page="serviceArchieveList.meta.per_page"
                  v-model="currentPage"
                  @input="goToPage()"
                  class="my-0"
          />
        </b-col>
      </b-row>
    </v-wait>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import { AtomSpinner } from "epic-spinners";
  export default {
    components:{
      AtomSpinner
    },
    data() {
      return {
        currentPage:1,
        confirmDelete: false,
        filter: null,
        fields: [
          // A column that needs custom formatting
          { key: "nameColumn", label: "Name" },
          { key: "emailColumn", label: "Email" },
          { key: "phoneNoColumn", label: "Phone Number" },
          { key: "licensePlateColumn", label: "License Plate" },
          { key: "vinNumberColumn", label: "Vin Number" },
          // { key: "actionColumn", label: "Action" }
          // A regular column
        ]
      };
    },
    mounted() {
      this.$store.dispatch("archieveservice/getArchieveService");
    },
    methods: {
      goToPage(){
        this.$store.dispatch("archieveservice/getArchievePaginateList",this.currentPage);
      }
    },
    computed: mapState("archieveservice", ["serviceArchieveList"])
  };
</script>