<template>
  <div class="container-fluid no-gutters" style="height:100%">
    <Nav></Nav>
    <div class="row px-5">
      <div class="col-xl-12 col-lg-12 mt-5">
        <div class="row">
          <div class="col page-heading">Service Archieve List</div>
          
          <div class="col-12">
            <div class="white_box_container">
              <div class="row">
                <div class="col-4  pl-5">
                  <!-- <input type="text" placeholder="search" class> -->
                </div>
                <div class="col-3 offset-1">
                  <!--<input type="text" placeholder="DD/MM/YYYY - DD/MM/YYYY" class>-->
                </div>
                <div class="col-3 offset-1 pr-5">
                  <!--<div class="form-group">-->
                  <!--<select  class="form-control form-control-lg">-->
                  <!--<option>Service Type</option>-->
                  <!--<option>..</option>-->
                  <!--</select>-->
                  <!--</div>-->
                </div>
                <div class="col-12 mt-5">
                  <ArchieveList/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</template>

<script>
  import Nav from "../../components/Nav.vue";
  import ArchieveList from "./ArchieveList";
  // import { createServiceCustomer } from '../../_helpers/general';
  export default {
    name: "ServiceCustomer",
    data () {
      return {
        formData: {
          name:'',
          email:'',
          phone_number:'',
          vin_number:'',
          license_plate:'',
        },
        btnText:'CREATE CUSTOMER',
        updateStatus:0,
      }
    },
    created(){
    

    },
    methods:{
      clear(){
        this.formData.name ='';
        this.formData.email ='';
        this.formData.phone_number ='';
        this.formData.license_plate ='';
        this.formData.vin_number ='';

      },
      showModal() {
        this.clear();
        this.btnText = 'CREATE CUSTOMER';
        this.updateStatus = 0;
        this.$refs.myModalRef.show();
      },
      hideModal() {
        this.$refs.myModalRef.hide();
      },
      createCustomer() {
        this.formData.updateStatus = this.updateStatus;
        if (this.updateStatus == 0) {
          this.$store.dispatch('customers/createCustomer',this.$data.formData);
        }else{
          this.$store.dispatch('customers/updateCustomer',this.$data.formData);
        }
        this.hideModal();
      }
    },
    components: { Nav,ArchieveList }
  }
</script>

<style scoped>

</style>