<template>
  <div>
    <button
      class="btn btn-lg btn-block btn-primary blue_greadient_button"
      @click="showModal"
    >CREATE NEW SERVICE</button>
    Open Modal
    <b-modal ref="myModalRef" size="xl" no-close-on-backdrop hide-footer title="Create New Service">
      <div class="d-block">
        <form class="serviceCreationForm pl-1 align-self-center">
          <div class="customerInfo">
            <div class="form-row" v-show="!editableCustomerInfo">
              <div class="form-group col-md-12">
                <label for="searchCutomer">Select Customer</label>
              </div>
              <div class="form-group col-md-9">
                <autocomplete
                  ref="autocomplete"
                  id="searchCutomer"
                  :source="customersList"
                  @selected="showCustomerInfo"
                  :results-display="formattedDisplay"
                  placeholder="Search Customer"
                  inputClass="autoCompleteTextBox"
                  @clear="cleared"
                ></autocomplete>
              </div>
              <div class="form-group col-md-3">
                <button
                  class="btn btn-lg btn-block btn-primary gray_greadient_button"
                  type="button"
                  v-if="saveCustomerFlag"
                  @click="enableNewCustomer"
                >NEW CUSTOMER</button>
                <button
                  class="btn btn-lg btn-block btn-primary light_gray_button"
                  type="button"
                  v-if="editCustomerFlag"
                  @click="enableEditCutomer()"
                >EDIT CUSTOMER</button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="customerName">Customer Name</label>
                <input
                  type="text"
                  key="customer-name"
                  class="form-control"
                  id="customerName"
                  placeholder="Name"
                  v-model="formData.name"
                  :class="{invalid: $v.formData.name.$error}"
                  :disabled="!editableCustomerInfo"
                >
                <input type="hidden" :value="customerData">
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  v-model="formData.email"
                  :class="{invalid: $v.formData.email.$error}"
                  :disabled="!editableCustomerInfo"
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="phoneNo">Phone No.</label>
                <input
                  type="text"
                  class="form-control"
                  id="phoneNo"
                  placeholder="Phone No"
                  v-model="formData.phone_number"
                  :class="{invalid: $v.formData.phone_number.$error}"
                  :disabled="!editableCustomerInfo"
                >
              </div>
              <div class="form-group col-md-4">
                <label for="vinNo">Vin No.</label>
                <input
                  type="text"
                  class="form-control"
                  id="vinNo"
                  placeholder="Vin No"
                  v-model="formData.vin_number"
                  :class="{invalid: $v.formData.vin_number.$error}"
                  :disabled="!editableCustomerInfo"
                >
              </div>
              <div class="form-group col-md-4">
                <label for="licensePlate">License Plate</label>
                <input
                  type="text"
                  class="form-control"
                  id="licensePlate"
                  placeholder="License Plate"
                  v-model="formData.license_plate"
                  :class="{invalid: $v.formData.license_plate.$error}"
                  :disabled="!editableCustomerInfo"
                >
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3 offset-md-3" v-if="editableCustomerInfo">
                <button
                  class="btn btn-lg btn-block btn-primary light_gray_button"
                  @click="cancelEditing"
                  type="button"
                >CANCEL</button>
              </div>
              <div class="form-group col-md-3" v-if="saveCustomerFlag && editableCustomerInfo">
                <button
                  class="btn btn-lg btn-block btn-primary blue_greadient_button"
                  :disabled="$wait.is('createCustomerLoading')"
                  @click="createUpdateCustomer"
                >
                  <v-wait for="createCustomerLoading">
                    <template slot="waiting">SAVING..</template>SAVE CUSTOMER
                  </v-wait>
                </button>
              </div>
              <div class="form-group col-md-3" v-if="editCustomerFlag  && editableCustomerInfo">
                <button
                  class="btn btn-lg btn-block btn-primary blue_greadient_button"
                  :disabled="$wait.is('updateCustomerLoading')"
                  @click="createUpdateCustomer"
                >
                  <v-wait for="updateCustomerLoading">
                    <template slot="waiting">UPDATING..</template>UPDATE CUSTOMER
                  </v-wait>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-gray-bg text-dark" v-if="showInfo">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="serviceType">Service Type</label>
                <select
                  id="serviceType"
                  class="form-control form-control-lg"
                  v-model="serviceId"
                  :class="{invalid: $v.serviceId.$error}"
                >
                  <option selected value="0">Choose...</option>
                  <option
                    v-for="(service,index) in serviceTypes"
                    :key="index"
                    :value="service.id"
                  >{{service.type}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="serviceStatus">Service Status</label>
                <select
                  id="serviceStatus"
                  class="form-control form-control-lg"
                  v-model="serviceStatusId"
                  :class="{invalid: $v.serviceStatusId.$error}"
                >
                  <option selected value="0">{{ serviceStatusText }}</option>
                  <option
                    v-for="(status,index) in serviceStatuses"
                    :key="index"
                    :value="status.id"
                  >{{status.service_status}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="col mr-auto">
                    <label for="serviceETA">Service ETA</label>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="na"
                        v-model="formData.eta_notification"
                        v-on:change="serviceTimeNA($event)"
                      >
                      <label class="form-check-label" for="na">NA</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control"
                      id="serviceETA"
                      placeholder="Estimated Time"
                      v-model="formData.service_time"
                      :disabled="serviceTimeStatusNa"
                    >
                  </div>
                  <div class="col-6">
                    <select
                      id="hrORmin"
                      class="form-control form-control-lg"
                      v-model="formData.service_time_unit"
                      :disabled="serviceTimeStatusNa"
                    >
                      <option value="hr">hr</option>
                      <option value="min">min</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="tagNo">Tag No</label>
                <input
                  type="text"
                  class="form-control"
                  id="tagNo"
                  placeholder="Tag No"
                  v-model="formData.tag_no"
                  :class="{invalid: $v.formData.tag_no.$error}"
                >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <div class="row">
                  <div class="col-6">
                    <label for="customerNotification">Customer Notification</label>
                  </div>
                  <div class="col-3">
                    <label for="emailNotification">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="emailNotification"
                        v-model="formData.email_notification"
                      > Email
                    </label>
                  </div>
                  <div class="col-3">
                    <label for="textMessage">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="textMessage"
                        v-model="formData.sms_notification"
                      > Text Message
                    </label>
                  </div>
                </div>
                <div class="12">
                  <textarea
                    class="form-control form-control-lg"
                    id="customerNotification"
                    v-model="formData.service_message"
                  ></textarea>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="form-label" for="additionalNotes">Additional Notes</label>
                <textarea
                  class="form-control form-control-lg"
                  id="additionalNotes"
                  v-model="formData.additional_notes"
                ></textarea>
              </div>
            </div>
          </div>
          <div v-if="showInfo" class="form-row">
            <div class="form-group col-md-3 offset-md-3">
              <button
                class="btn btn-lg btn-block btn-primary light_gray_button"
                @click="hideModal"
                type="button"
              >CANCEL</button>
            </div>
            <div class="form-group col-md-3">
              <button
                class="btn btn-lg btn-block btn-primary blue_greadient_button"
                :disabled="$wait.is('createServiceLoading')"
                @click="createService"
              >
                <v-wait for="createServiceLoading">
                  <template slot="waiting">SAVING..</template>SAVE SERVICE
                </v-wait>
              </button>
            </div>

            <div class="col-md-12 flexCenter">
              <v-wait for="createServiceLoading">
                <template slot="waiting">
                  <atom-spinner :animation-duration="1000" :size="60" color="#17469e"/>
                </template>
              </v-wait>
            </div>
          </div>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Autocomplete from "vuejs-auto-complete";
import { AtomSpinner } from "epic-spinners";
import { mapGetters } from "vuex";
import { required, email, minValue } from "vuelidate/lib/validators";

export default {
  components: {
    Autocomplete,
    AtomSpinner
  },
  data() {
    return {
      showInfo: true,
      query: null,
      customers: [],
      customer: {},
      serviceId: 0,
      services: [],
      serviceStatuses: [],
      serviceStatusId: 0,
      serviceStatus: [],
      hoursMinute: null,
      eta: 0,
      timeUnit: "min",
      serviceMessageText: "",
      serviceData: {},
      serviceTimeStatusNa: false,
      processFlag: false,

      editCustomerFlag: false,
      saveCustomerFlag: true,
      editableCustomerInfo: false,
      updateCutomerFlag: false,

      serviceStatusText: "Select Service Type",

      formData: {
        service_customer_id: "",
        email_notification: 1,
        license_plate: "",
        name: "",
        vin_number: "",
        phone_number: "",
        email: "",
        eta_notification: 0,
        service_type_id: "",
        service_type_status_id: "",
        service_time: "",
        service_time_unit: "min",
        service_message: "",
        status: "",
        additional_notes: "",
        sms_notification: 1,
        eta: "",
        tag_no: "",
        type: ""
      }
    };
  },
  validations: {
    formData: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      vin_number: {
        required
      },
      phone_number: {
        required
      },
      license_plate: {
        required
      },
      tag_no: {
        required
      }
    },
    serviceId: {
      minValue: minValue(1)
    },
    serviceStatusId: {
      minValue: minValue(1)
    }
  },
  mounted() {
    this.$store.dispatch("customers/getCustomersListApi");
    this.$store.dispatch("servicetype/getServiceTypes");
  },
  created() {
    this.$root.$on("bv::modal::hidden", data => {
      this.resetForm();
    });
  },
  updated() {
    // this.resetForm();
  },
  methods: {
    cleared() {
      this.customer = {};
      this.editCustomerFlag = false;
      this.editableCustomerInfo = false;
      this.saveCustomerFlag = true;
      this.formData.license_plate = "";
      this.formData.name = "";
      this.formData.vin_number = "";
      this.formData.phone_number = "";
      this.formData.email = "";
    },
    cancelEditing() {
      this.$refs.autocomplete.clear();
      this.showInfo = true;
      this.cleared();
    },
    showModal() {
      this.$refs.myModalRef.show();
      this.showInfo = true;
    },
    hideModal() {
      this.$refs.myModalRef.hide();
    },
    showCustomerInfo(group) {
      this.customer = group.selectedObject;
      console.log(this.customer);
      this.editCustomerFlag = true;
      this.saveCustomerFlag = false;
      console.log(this.$refs.autocomplete.input);
    },
    formattedDisplay(result) {
      return result.name + " [" + result.vin_number + "]";
    },
    serviceTimeNA(event) {
      if (event.target.checked) {
        this.serviceTimeStatusNa = true;
        // this.formData.service_time = 0;
      } else {
        this.serviceTimeStatusNa = false;
      }
    },

    resetForm() {
      this.formData = {
        service_customer_id: "",
        sms_notification: 1,
        license_plate: "",
        name: "",
        vin_number: "",
        phone_number: "",
        email: "",

        editCustomerFlag: false,
        saveCustomerFlag: true,
        editableCustomerInfo: false,

        service_type_id: "",
        service_type_status_id: "",
        service_time: "",
        service_time_unit: "min",
        service_message: "",
        status: "",
        additional_notes: "",
        email_notification: 1,
        eta: "",
        tag_no: "",
        type: ""
      };
      this.customer = {};
      this.serviceId = 0;
      this.serviceStatusId = 0;

      this.$refs.autocomplete.clear();
    },
    createService() {
      this.$v.formData.name.$touch();
      this.$v.formData.email.$touch();
      this.$v.formData.license_plate.$touch();
      this.$v.formData.vin_number.$touch();
      this.$v.formData.phone_number.$touch();
      this.$v.formData.tag_no.$touch();
      this.$v.serviceStatusId.$touch();
      this.$v.serviceId.$touch();
      // console.log(this.customerData.length);
      if (this.customer.id) {
        this.formData.service_customer_id = this.customer.id;
      } else {
        this.formData.service_customer_id = this.customerData.id;
      }
      if (this.$v.$error) {
        return;
      }
      // console.log(this.formData);
      this.$store.dispatch(
        "servicetracker/createServiceTracker",
        this.formData
      );
      window.Event.$emit("search-event", true);

      //this.processFlag = this.$store.getters["servicetracker/getProcessFlag"];
      //this.$store.dispatch("servicetracker/getServiceTrackers");
      //this.$v.reset();
    },
    createUpdateCustomer() {
      this.showInfo = true;
      this.$v.formData.name.$touch();
      this.$v.formData.email.$touch();
      this.$v.formData.license_plate.$touch();
      this.$v.formData.vin_number.$touch();
      this.$v.formData.phone_number.$touch();

      this.customer.name = this.formData.name;
      this.customer.email = this.formData.email;
      this.customer.phone_number = this.formData.phone_number;
      this.customer.vin_number = this.formData.vin_number;
      this.customer.license_plate = this.formData.license_plate;

      if (this.editCustomerFlag) {
        this.$store.dispatch("customers/updateCustomer", this.customer);
      } else {
        this.$store.dispatch("customers/createCustomer", this.customer);
      }
      // console.log(this.$store.getters["customers/getCustomer"]);

      // Promise.all([promise1]).then(function(values) {
      //   console.log(values);
      // });
      // this.$nextTick(function () {
      // })
    },
    enableEditCutomer() {
      this.editableCustomerInfo = true;
      this.showInfo = false;
    },
    enableNewCustomer() {
      this.editableCustomerInfo = true;
      this.showInfo = false;
    }
  },
  computed: {
    customersList() {
      this.customers = this.$store.getters["customers/getCustomersList"];
      this.formData.service_customer_id = this.customer.id;
      this.formData.email = this.customer.email;
      this.formData.name = this.customer.name;
      this.formData.phone_number = this.customer.phone_number;
      //this.formData.tag_no = this.customer.tag_no;
      this.formData.license_plate = this.customer.license_plate;
      this.formData.vin_number = this.customer.vin_number;
      return this.customers;
    },
    serviceTypes() {
      return (this.services = this.$store.getters[
        "servicetype/getServiceTypes"
      ]);
    },
    customerData() {
      return this.$store.getters["customers/getCustomer"];
    },
    ...mapGetters("servicetracker", ["getProcessFlag"]),
    // ...mapGetters("customerData", ['customers']),
    ...mapGetters("customers", { getProcessFlagCutomer: "getProcessFlag" })
  },
  watch: {
    getProcessFlag: {
      handler(val) {
        if (!val) {
          this.resetForm();
          this.hideModal();
        }
      }
    },
    getProcessFlagCutomer: {
      handler(val) {
        if (!val) {
          this.editableCustomerInfo = false;
        }
      }
    },
    serviceId: function(val) {
      this.formData.service_type_id = this.serviceId;
      this.serviceStatusId = 0;
      if (val > 0) {
        let result = this.services.filter(service => {
          if (service.id == val) return service.status;
        });
        this.serviceStatuses = result[0].status;
      } else {
        this.serviceStatuses = [];
      }

      if (val == 0) this.serviceStatusText = "Select Service Type";
      else this.serviceStatusText = "Choose...";
    },
    serviceStatusId: function(val) {
      if (val > 0) {
        this.formData.service_type_status_id = this.serviceStatusId;
        let result = this.serviceStatuses.filter(status => {
          if (status.id == val) return status;
        });
        this.serviceStatus = result[0];
        this.formData.service_time = this.serviceStatus.e_time;
        this.formData.service_time_unit = "min";
        this.formData.service_message = this.serviceStatus.service_message;
        this.formData.status = this.serviceStatus.service_status;
      }
    }
  }
};
</script>
<style scoped lang="scss">
@import "../../../sass/autocomplete.scss";
</style>
