<template>
  <div class="container-fluid no-gutters" style="height:100%">
    <Nav></Nav>
    <div class="row px-md-5">
      <div class="col-xl-8 col-lg-12">
        <div class="row">
          <div class="col page-heading mt-5 text-sm-center text-md-left">Service List</div>
          <div class="col-md-3 mt-5">
            <button
              class="btn btn-lg btn-block btn-primary gray_greadient_button"
              @click="getToServiceBoard()"
            >GENERATE PUBLIC URL</button>
          </div>
          <div class="col-md-3 ml-md-2 mt-5">
            <CreateService/>
          </div>
          <div class="col-12">
            <div class="white_box_container">
              <service-list/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 mt-5">
        <div class="row ml-md-5">
          <div class="col-12">
            <div class="gray_box_container px-4">
              <UpdateServiceForm/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../../components/Nav.vue";
import ServiceList from "./ServiceList";
import UpdateServiceForm from "./UpdateServiceForm";
import CreateService from "./CreateService";

export default {
  name: "main-app",
  data() {
    return {};
  },
  components: {
    Nav,
    ServiceList,
    UpdateServiceForm,
    CreateService,
  },
  methods: {
    getToServiceBoard() {
      this.$router.push("/service-board");
    },
    showModal() {
      this.$refs.myModalRef.show();
    }
  },
  computed: {},
  mounted() {}
};
</script>
