<template>
  <div>
    <transition name="fade" mode="out-in">
      <v-wait for="serviceTableLoading" message>
        <template slot="waiting">
          <div id="loadingSpinner">
            <atom-spinner :animation-duration="1000" :size="180" color="#17469e"/>Loading Service List
          </div>
        </template>
        <table-filter/>
        <div class="row">
          <div class="col-12 mt-4">
            <template>
              <div class="table-responsive" style="position:relative">
                <v-wait for="serviceTableRefreshing" message>
                  <template slot="waiting">
                    <div id="serviceTableRefreshing">
                      <atom-spinner :animation-duration="1000" :size="120" color="#FFF"/>
                      <div>Reloading Service List</div>
                    </div>
                  </template>
                </v-wait>
                <b-table
                  hover
                  head-variant="light"
                  :filter="filter"
                  :fields="fields"
                  :items="serviceTrackers"
                  ref="table"
                  @row-clicked="myRowClickHandler"
                >
                  <template slot="tagColumn" slot-scope="data">
                    <div class="customer-name">{{ data.item.tag2 }}</div>
                  </template>
                  <template slot="customerColumn" slot-scope="data">
                    <div class="customer-name">{{ data.item.name2 }}</div>
                    <div class="customer-lp">{{ data.item.license_plate2}}</div>
                  </template>
                  <template slot="vehicleColumn" slot-scope="data">
                    <div class="vehicle-model">2018 BMW X3</div>
                    <div class="vin-number">{{ data.item.vin_number2}}</div>
                  </template>
                  <template slot="serviceColumn" slot-scope="data">
                    <div class="service-type">{{ data.item.type2 }}</div>
                    <div
                      class="service-status"
                      :style="{color: getStatusColor(data.item.service_type_status_id)}"
                    >{{ data.item.status2}}</div>
                  </template>
                  <template slot="etaColumn" slot-scope="data" >
                    <div  v-bind:class="{ 'pickupReadyIcon': pickupReadyCheck(data.item.service_type_status_id) }">
                    <div v-if="data.item.chk">
                      <countdown :time="data.item.service_time_w_u_c">
                        <template
                          slot-scope="props"
                        >{{ props.hours}}h {{ props.minutes }}m {{ props.seconds }}s</template>
                      </countdown>
                    </div>
                    <div v-else>
                      <span>0h 0m 0s</span>
                    </div>
                    </div>
                  </template>
                </b-table>
              </div>

              <b-row>
                <b-col md="12" class="my-1">
                  <div class="dotstyle dotstyle-scaleup">
                    <ul class="d-flex justify-content-center" v-if="serviceTrackersPagination.meta">
                      <li
                        :class="i==serviceTrackersPagination.meta.current_page ? 'current':''"
                        v-for="(i,index) in serviceTrackersPagination.meta.last_page"
                        :key="index"
                        @click="goToPage(i)"
                      >
                        <a href="javascript:void(0)">{{ i }}</a>
                      </li>
                    </ul>
                  </div>
                </b-col>
              </b-row>
            </template>
          </div>
        </div>
      </v-wait>
    </transition>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { AtomSpinner } from "epic-spinners";
import TableFilter from "../../components/ui/TableFilter";
var serviceTrackersList = [];
export default {
  components: {
    mapState,
    TableFilter,
    AtomSpinner
  },
  data() {
    return {
      currentPage: 1,
      fields: [
        // A column that needs custom formatting
        { key: "tagColumn", label: "Tag" },
        { key: "customerColumn", label: "Customer" },
        { key: "vehicleColumn", label: "Vehicle" },
        { key: "serviceColumn", label: "Service" },
        { key: "etaColumn", label: "ETA" }
        // A regular column
      ],
      filter: null,
      serviceTrackersCount: 0,
      searchTextTag: "",
      searchParameter:{
        searchText:'',
        searchType:'',
        searchDate:[],
        waiterName: 'serviceTableRefreshing'
      }
    };
  },
  updated() {},
  created() {},
  mounted() {
     if(this.$store.getters["search/getSearchParameters"]){
        this.searchParameter= this.$store.getters["search/getSearchParameters"];
      }
    /* if (serviceTrackersList.length == 0) { */
     
      this.searchParameter.waiterName = "serviceTableLoading";
      this.$store.dispatch("servicetracker/getServiceTrackersSearchResult", this.searchParameter);
      //this.$store.dispatch("servicetracker/getServiceTrackerPaginationList");
      serviceTrackersList = this.$store.getters[
        "servicetracker/getServiceTrackers"
      ];
      window.Event.$on("searchList", data => {
        this.filter = data;
      });
    
    //injecting JQuery Code

   /*  $(".b-table").on("click", "tbody tr", function(event) {
      $(this)
        .addClass("table-highlight")
        .siblings()
        .removeClass("table-highlight");
    }); */
  },
  methods: {
    goToPage(page) {
      this.searchParameter.page=page;
      this.searchParameter.waiterName = "serviceTableRefreshing";
      this.$store.dispatch(
        "servicetracker/getServiceTrackersSearchResult",
        this.searchParameter
      );
    },
    myRowClickHandler(record, index) {
      this.$store.commit("servicetracker/SET_SERVICE_TRACKER", record);
      window.Event.$emit("rowClickHandler");
      $(".b-table").on("click", "tbody tr", function(event) {
        $(this)
          .addClass("table-highlight")
          .siblings()
          .removeClass("table-highlight");
      });
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    refreshServiceTable() {
      this.searchParameter.waiterName= "serviceTableRefreshing";
      this.$store.dispatch("servicetracker/getServiceTrackersSearchResult", this.searchParameter);
      serviceTrackersList = this.$store.getters[
        "servicetracker/getServiceTrackers"
      ];
      this.serviceTrackersCount = serviceTrackersList.length;
    },
    getStatusColor(serviceStatusID) {
      if (serviceStatusID == 6) return "#4fc257";
      else if (serviceStatusID == 5) return "#e25252";
      else return "#999999";
    },
    pickupReadyCheck(serviceStatusID){
      if(serviceStatusID == 6)
        return true;
      return false;
    }
  },
  computed: {
    ...mapState("servicetracker", ["serviceTrackersPagination"]),
    serviceTrackers() {
      serviceTrackersList = this.$store.getters[
        "servicetracker/getServiceTrackers"
      ];

      return serviceTrackersList;
    }
    
  },

  
};
</script>
