<style type="text/css" media="print">
@page {
  size: 6cm 1.5cm;
  margin: 0mm 0mm 0mm 0mm; /* change the margins as you want them to be. */
}
</style>
<template>
  <div>
    <div class="box_title pl-1">Update Service</div>
    <div class="signinForm pl-1 align-self-center">
      <div class="form-row">
        <div class="form-group col-md-12" style="position:relative">
          <label for="selectService">Select Service</label>

          <input
            type="text"
            class="form-control"
            id="selectService"
            v-model="tagNo"
            @keyup.enter="searchByTag"
            placeholder="Enter Service Keyword/Scan Barcode"
            autocomplete="off"
          >
          <i class="fas fa-barcode"></i>
          <div class="loadingScanedResult">
            <v-wait for="searchScannedLoading">
              <template slot="waiting">
                <atom-spinner :animation-duration="1000" :size="40" color="#555"/>
              </template>
            </v-wait>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="customerName">Customer</label>
          <div v-if="!editCustomerFlag">{{ formData.name }}</div>
          <input
            type="text"
            class="form-control"
            id="customerName"
            placeholder="Name"
            v-model="customerObject.name"
            :class="{invalid: $v.customerObject.name.$error}"
            v-else
          >
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>

          <div v-if="!editCustomerFlag">{{ formData.email }}</div>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Email"
            v-model="customerObject.email"
            :class="{invalid: $v.customerObject.email.$error}"
            v-else
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="phoneNo">Phone No</label>

          <div v-if="!editCustomerFlag">{{ formData.phone_number }}</div>
          <input
            type="text"
            class="form-control"
            id="phoneNo"
            placeholder="Phone No"
            v-model="customerObject.phone_number"
            :class="{invalid: $v.customerObject.phone_number.$error}"
            v-else
          >
        </div>
        <div class="form-group col-md-6">
          <label for="vinNumber">Vin Number</label>

          <div v-if="!editCustomerFlag">{{ formData.vin_number }}</div>
          <input
            type="text"
            class="form-control"
            id="vinNumber"
            placeholder="Vin Number"
            v-model="customerObject.vin_number"
            :class="{invalid: $v.customerObject.vin_number.$error}"
            v-else
          >
        </div>

        <div class="form-group col-md-6">
          <label for="licensePlate">License Plate</label>

          <div v-if="!editCustomerFlag">{{ formData.license_plate }}</div>
          <input
            type="text"
            class="form-control"
            id="licensePlate"
            placeholder="License Plate"
            v-model="customerObject.license_plate"
            :class="{invalid: $v.customerObject.license_plate.$error}"
            v-else
          >
        </div>
      </div>
      <div class="form-row" v-if="!editCustomerFlag">
        <div class="form-group col-md-6">
          <button
            class="btn btn-lg btn-block btn-primary light_gray_button"
            type="button"
            v-on:click="switchEditCustomerForm"
          >EDIT CUSTOMER INFO</button>
        </div>
        <div class="form-group col-md-6">
          <div id="divForBarCode" style="display:none;">
            <!--<barcode v-bind:value="formData.tag" :options="{ displayValue: false }" tag="img">style="transform: rotate(90deg);margin-top: 100px;" </barcode>-->
            <barcode
              v-bind:value="formData.id"
              :options="{ displayValue: false }"
              tag="img"
              height="35"
              width="200"
            ></barcode>
          </div>
          <button
            class="btn btn-lg btn-block btn-primary dark_gray_button"
            type="button"
            @click="printBarcode"
          >PRINT BARCODE</button>
        </div>
      </div>
      <div class="form-row" v-if="editCustomerFlag">
        <div class="form-group col-md-6">
          <button
            class="btn btn-lg btn-block btn-primary blue_greadient_button"
            type="button"
            v-on:click="updateCustomer"
            :disabled="$wait.is('updateCustomerLoading')"
          >
            <v-wait for="updateCustomerLoading">
              <template slot="waiting">UPDATING..</template>UPDATE CUSTOMER INFO
            </v-wait>
          </button>
        </div>
        <div class="form-group col-md-6">
          <button
            class="btn btn-lg btn-block btn-primary red_button"
            type="button"
            v-on:click="switchEditCustomerForm"
          >Cancel</button>
        </div>
      </div>
      <div class="form-group">
        <label for="tagno">Tag No</label>
        <input
          type="text"
          id="tagno"
          v-model="formData.tag"
          :class="{invalid: $v.formData.tag.$error}"
        >
      </div>
      <div class="form-group">
        <label for="serviceType">Service Type</label>
        <select
          id="serviceType"
          class="form-control form-control-lg"
          v-model="serviceId"
          :class="{invalid: $v.serviceId.$error}"
        >
          <option selected value="0">Choose...</option>
          <option
            v-for="(service,index) in serviceTypes"
            :key="index"
            :value="service.id"
          >{{service.type}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="serviceStatus">Service Status</label>
        <select
          id="serviceStatus"
          class="form-control form-control-lg"
          v-model="serviceStatusId"
          :class="{invalid: $v.serviceStatusId.$error}"
        >
          <option selected value="0">{{ serviceStatusText }}</option>
          <option
            v-for="(status,index) in serviceStatuses"
            :key="index"
            :value="status.id"
          >{{status.service_status}}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col mr-auto">
            <label for="serviceETA">Service ETA</label>
          </div>
          <div class="col-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="na"
                :model="formData.eta_notification"
              >
              <label class="form-check-label" for="na">NA</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input
              type="text"
              class="form-control"
              id="serviceETA"
              placeholder="Estimated Time"
              v-model="formData.service_time"
              :disabled="serviceTimeStatusNa"
            >
          </div>
          <div class="col-6">
            <select
              id="hrORmin"
              class="form-control form-control-lg"
              v-model="formData.service_time_unit"
              :disabled="serviceTimeStatusNa"
            >
              <option value="hr">hr</option>
              <option value="min">min</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-check col-md-12">
          <div class="form-row">
            <div class="col-md-3">
              <label>Notification</label>
            </div>
            <div class="col-md-3">
              <label for="emailNotification" class="checkbox-inlin">
                <input type="checkbox" id="emailNotification" v-model="formData.email_notification"> Email
              </label>
            </div>
            <div class="col-md-3">
              <label for="textMessage" class="checkbox-inline">
                <input type="checkbox" id="textMessage" v-model="formData.sms_notification"> SMS
              </label>
            </div>
            <div class="col-md-3 text-right">
              <a
                href="#"
                class="btn btn-primary-outline btn-md"
                v-on:click.prevent="clearAndEditNotification()"
              >
                <i class="fas fa-undo-alt light"></i>
              </a>
              <a
                href="#"
                class="btn btn-primary-outline btn-md"
                v-on:click.prevent="editNotification()"
              >
                <i class="far fa-edit light"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="note" v-if="!editNotificationFlag">{{formData.service_message}}</div>
          <textarea
            class="form-control form-control-lg"
            id="customerNotification"
            v-model="formData.service_message"
            v-else
          ></textarea>
        </div>
      </div>
      <div class="form-row mt-4 mb-4">
        <div class="col-md-12">
          <textarea
            class="form-control form-control-lg"
            placeholder="Additional Notes"
            id="additionalNotes"
            v-model="formData.additional_notes"
          ></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <a
            class="btn btn-lg btn-block btn-primary red_button"
            @click.prevent="deleteService()"
          >DELETE</a>
        </div>
        <div class="form-group col-md-6">
          <button
            class="btn btn-lg btn-block btn-primary blue_greadient_button"
            :disabled="$wait.is('updateServiceLoading')"
            @click="updateService()"
          >
            <v-wait for="updateServiceLoading">
              <template slot="waiting">UPDATING..</template>UPDATE SERVICE
            </v-wait>
          </button>
        </div>
        <div
          class="col-md-12"
          v-if="$v.formData.$error || $v.serviceId.$error || $v.serviceStatusId.$error"
        >
          <div class="alert alert-danger mt-4">Form validation error.</div>
        </div>
        <div class="form-group col-md-3 offset-5">
          <v-wait for="updateServiceLoading">
            <template slot="waiting">
              <atom-spinner :animation-duration="1000" :size="60" color="#fff"/>
            </template>
          </v-wait>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { AtomSpinner } from "epic-spinners";
import { mapGetters } from "vuex";

import { required, email, minValue } from "vuelidate/lib/validators";

export default {
  //props, component, data, validations, beforeCreate, created, beforeMount, mounted, beforeUpdate, update, methods, computed,watch, beforeDestroy, destroyed
  components: { AtomSpinner },
  data() {
    return {
      formData: {
        service_customer_id: "",
        sms_notification: 1,
        license_plate: "",
        name: "",
        vin_number: "",
        phone_number: "",
        email: "",

        service_type_id: "",
        service_type_status_id: "",

        service_time: "",
        service_time_unit: "min",

        service_message: "",
        status: "",
        additional_notes: "",
        email_notification: 1,
        eta_notification: 0,
        eta: "",
        tag: "0000",
        type: ""
      },
      tagNo: "",
      processFlag: false,
      customerUpdateProcessFlag: false,
      customerObject: {},
      serviceTimeStatusNa: false,
      serviceId: 0,
      serviceStatusId: 0,
      services: [],
      serviceStatuses: [],
      editCustomerFlag: false,
      editNotificationFlag: false,
      output: null, //used for vue-html-to-paper library
      serviceStatusText: "Select Service Type",
      loadingFromTableFlag: true
    };
  },
  validations: {
    customerObject: {
      name: {
        required
      },
      email: {
        required,
        email
      },
      vin_number: {
        required
      },
      phone_number: {
        required
      },
      license_plate: {
        required
      }
    },
    formData: {
      tag: {
        required
      }
    },
    serviceId: {
      minValue: minValue(1)
    },
    serviceStatusId: {
      minValue: minValue(1)
    }
  },
  created() {
    /*window.Event.$on("rowClickHandler", () => {
      let data = this.$store.getters["servicetracker/getServiceTracker"];
      this.formData = data[0];
      this.loadingFromTableFlag = true;

      if (this.formData.service_type_id) {
        this.serviceId = this.formData.service_type_id;
        this.serviceStatusId = this.formData.service_type_status_id;
      }
    });*/
  },
  mounted() {
    this.$store.dispatch("servicetype/getServiceTypes");
  },
  methods: {
    searchByTag() {
      // console.log(this.formData);
      this.$store.dispatch(
        "servicetracker/searchSeriveByBarcodeTag",
        this.tagNo
      );

      // this.loadingFromTableFlag = true;

      /*if (this.formData.service_type_id) {
        this.serviceId = this.formData.service_type_id;
        this.serviceStatusId = this.formData.service_type_status_id;
      }*/
    },
    updateService() {
      this.$v.serviceStatusId.$touch();
      this.$v.serviceId.$touch();
      this.$v.formData.tag.$touch();
      if (
        this.$v.formData.$error ||
        this.$v.serviceId.$error ||
        this.$v.serviceStatusId.$error
      ) {
        return;
      }

      this.formData.tag_no = this.formData.tag;
      this.formData.message_template = this.formData.service_message;
      this.$store.dispatch(
        "servicetracker/updateServiceTracker",
        this.formData
      );
      window.Event.$emit("search-event", true);
      this.processFlag = this.$store.getters["servicetracker/getProcessFlag"];
      this.$nextTick(() => {
        this.$v.$reset();
      });
      this.clearAlert();
    },
    deleteService() {
      this.$store.dispatch(
        "servicetracker/deleteServiceTracker",
        this.formData
      );
    },
    updateCustomer() {
      this.$v.customerObject.name.$touch();
      this.$v.customerObject.license_plate.$touch();
      this.$v.customerObject.vin_number.$touch();
      this.$v.customerObject.phone_number.$touch();
      this.$v.customerObject.email.$touch();

      if (this.$v.customerObject.$error) {
        return;
      }
      this.$store.dispatch("customers/updateCustomer", this.customerObject);
      this.customerUpdateProcessFlag = this.$store.getters[
        "customers/getProcessFlag"
      ];
      this.fillCustomerFromFormData();
    },
    serviceTimeNA(event) {
      if (event.target.checked) {
        this.serviceTimeStatusNa = true;
        this.formData.service_time = 0;
      } else {
        this.serviceTimeStatusNa = false;
      }
    },
    fillCustomerFromFormData() {
      this.customerObject = {
        id: this.formData.service_customer_id,
        name: this.formData.name,
        phone_number: this.formData.phone_number,
        email: this.formData.email,
        vin_number: this.formData.vin_number,
        license_plate: this.formData.license_plate,
        tag: this.formData.tag
      };
    },
    switchEditCustomerForm() {
      this.fillCustomerFromFormData();
      this.editCustomerFlag = !this.editCustomerFlag;
    },
    clearAndEditNotification() {
      this.editNotificationFlag = true;
      this.formData.service_message = "";
    },
    editNotification() {
      this.editNotificationFlag = true;
    },

    printBarcode() {
      // Pass the element id here
      // this.$htmlToPaper("divForBarCode");
      // Get HTML to print from element
      const prtHtml = document.getElementById("divForBarCode").innerHTML;

      // Get all stylesheets HTML
      let stylesHtml = "";
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style')
      ]) {
        stylesHtml += node.outerHTML;
      }

      // Open the print window
      const WinPrint = window.open(
        "",
        "",
        "left=0,top=0,width=800,height=800,toolbar=0,scrollbars=0,status=0"
      );

      WinPrint.document.write(`<!DOCTYPE html>
                                  <html>
                                    <head>
                                      ${stylesHtml}
                                    </head>
                                    <body>
                                      ${prtHtml}
                                    </body>
                                  </html>`);

      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
    },
    ...mapActions({
      clearAlert: "alert/clear"
    })
  },
  computed: {
    ...mapState("servicetracker", ["serviceTracker"]),
    serviceTypes() {
      return (this.services = this.$store.getters[
        "servicetype/getServiceTypes"
      ]);
    },
    ...mapGetters("servicetracker", {
      getServiceProcessFlag: "getProcessFlag",
      getServiceTracker: "getServiceTracker"
    }),
    ...mapGetters("customers", { getCustomerProcessFlag: "getProcessFlag" })
  },
  watch: {
    getServiceTracker: {
      handler(val) {
        this.formData = val[0];
        if (this.formData.service_type_id) {
          this.serviceId = this.formData.service_type_id;
          this.serviceStatusId = this.formData.service_type_status_id;
        }
      }
    },
    getServiceProcessFlag: {
      handler(val) {
        if (!val) {
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth"
          });
        }
      }
    },
    getCustomerProcessFlag: {
      handler(val) {
        console.log("val", val);
        if (!val) {
          this.editCustomerFlag = false;
        }
      }
    },
    serviceId: function(val) {
      this.formData.service_type_id = this.serviceId;
      if (!this.loadingFromTableFlag) this.serviceStatusId = 0;
      this.loadingFromTableFlag = false;
      if (val > 0) {
        let result = this.services.filter(service => {
          if (service.id == val) return service.status;
        });
        this.serviceStatuses = result[0].status;
      } else {
        this.serviceStatuses = [];
      }
      if (val == 0) this.serviceStatusText = "Select Service Type";
      else this.serviceStatusText = "Choose...";
    },
    serviceStatusId: function(val) {
      if (val > 0) {
        this.formData.service_type_status_id = this.serviceStatusId;
        let result = this.serviceStatuses.filter(status => {
          if (status.id == val) {
            return status;
          }
        });
        this.serviceStatus = result[0];
        this.formData.service_time = this.serviceStatus.e_time;
        this.formData.service_time_unit = "min";
        this.formData.message_template = this.serviceStatus.service_message;
        this.formData.service_message = this.serviceStatus.service_message;
        this.formData.status = this.serviceStatus.service_status;
        console.log(
          "this.serviceStatus.service_message",
          this.serviceStatus.service_message
        );
      }
    }
  }
};
</script>

