<template>
    <div>
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    import { mapState, mapActions } from 'vuex'
    export default {
        name: 'main-app',
        data(){
            return {

            }
        },
        mounted() {
        },
        computed: {
            ...mapState({
                alert: state => state.alert
            })
        },
        methods: {
            ...mapActions({
                clearAlert: 'alert/clear'
            })
        },
        watch: {
            $route (to, from){
                // clear alert on location change
                this.clearAlert();
            },
            alert: {
                handler(val){
                    if (val.message){
                        if(val.type=='success')
                            this.$toastr.success(val.message);
                        else
                            this.$toastr.error(val.message);
                    }
                },
                deep: true
                
            }
        }
    }
</script>
