<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#">
        <img src="/images/policaro-logo.png" alt>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse ml-5">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link to="/dashboard" class="nav-link">Dashboard</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/service-customer" class="nav-link">Customer List</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/service-archive" class="nav-link">Service Archive List</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/service-started" class="nav-link">Service Started</router-link>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img src="/images/dummy-profile.png" alt class="profile">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">{{currentUser.name}}</a>
              <a class="dropdown-item" href="#!" @click.prevent="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {};
  },
  computed: {
    currentUser() {
      return this.$store.getters["auth/currentUser"];
    }
  },
  methods: {
    logout() {
      this.$store.commit("auth/LOGOUT");

      this.$router.push("/");
    }
  }
};
</script>
