<template>
  <div class="container-fluid no-gutters" style="height:100%">
    <Nav></Nav>
    <div class="row px-5">
      <div class="col-12 d-flex align-content-center serviceStartedBox">
        <div class="col-sm-12 col-md-4 serviceStartedForm align-self-center justify-content-center">
          <div class="box_title mt-3">Service Started</div>
          <div class="pl-1 mt-4" style="position:relative">
            <input
              type="text"
              class="form-control"
              id="selectService"
              v-model="tagNo"
              @keyup.enter="updateService"
              placeholder="Scan Barcode"
              autocomplete="off"
            >
            <i class="fas fa-barcode"></i>
          </div>
          <div class="pl-1 mt-5 mb-5" style="position:relative">
            <button
              class="btn btn-lg btn-block btn-primary blue_greadient_button"
              :disabled="$wait.is('updateService')"
              @click="updateService"
            >UPDATE SERVICE</button>
          </div>
          <div class="form-group col-md-3 offset-5">
            <v-wait for="updateService">
              <template slot="waiting">
                <atom-spinner :animation-duration="1000" :size="60" color="#fff"/>
              </template>
            </v-wait>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../../components/Nav.vue";
import { AtomSpinner } from "epic-spinners";

export default {
  components: {
    Nav,
    AtomSpinner
  },
  data() {
    return {
      tagNo: ""
    };
  },
  methods: {
    updateService() {
      this.$store.dispatch("updateService", this.tagNo);
      this.tagNo = "";
    }
  }
};
</script>

<style lang="scss" scoped>
.serviceStartedBox {
  height: 100vh;
  position: relative;

  .serviceStartedForm {
    background-color: #f3f3f3;
    margin: 0px auto;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 12px #000000, inset 0 1px 2px rgba(255, 255, 255, 0.35);
    border-radius: 20px;
    background-color: #4c4d4f;
    background-image: linear-gradient(to left, #666666 0%, #333333 100%);
    .box_title {
      color: white;
      font-size: 30px;
      font-weight: 500;
    }
    input[type="text"] {
      width: 100%;
      height: 60px;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 20px !important;
      border: 1px solid #cccccc;
      background-color: #f3f3f3;
      margin: 10px 0px 20px;
    }
    .fa-barcode {
      position: absolute;
      bottom: 9px;
      z-index: 99;
      right: 17px;
      font-size: 42px;
    }
  }
}
</style>